* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 51px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border: 0;
    padding: 18px 35px;
    Height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

.about {
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px 155px;
}

.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;

}

.section-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do styles */
.what-i-do {
    text-align: center;
    background: #FFF8F3;
}

.para {
    font-size: 18px;
    color: #757575;
    max-width: 909px;
    margin: 40px auto;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    display: block;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-top: 30px;
    padding: 104px 33px 30px 30px;
}

.skill-description {
    font-size: 16px;
    color: #757575;
}

.skill-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* resume styles */

.resume-part {}

#summary {
    margin-bottom: 113px;
}

.resume-content {
    display: flex;
    gap: 24px;
}

.resume-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}

.resume-item.title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-item.sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.resume-item.description {
    color: #757575;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

.contact{
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.contact .section-title {
    text-align: left;
}

.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    width: 100%;
    padding: 18px 30px;
}

.section-des{
    color: #474747;
}

.contact a{
    text-decoration: none;
    gap: 24px;
}